<div class="header-wrapper">
    <span class="header-wrapper__title">{{ "App.headerTitle" | translate }}</span>
    <div class="header-wrapper__options">
        <div class="header-wrapper__options__actions">
            <!-- <mat-form-field appearance="outline">
                <input matInput placeholder="Search" />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field> -->
            <mat-icon>settings</mat-icon>
        </div>
        <div class="header-wrapper__options__user">
            <span class="user-type">User</span>
            <mat-icon>person</mat-icon>
        </div>
    </div>
</div>
